h1{
    color: #2b818c;
    background-color: #69d0b3;
    border-radius: 10px;
}
h3{
    color: #d9cf85;
}

h2{
    color: #d9cf85;
}

input[type=text], input[type=email], input[type=password], input[type= number]{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

input[type=submit]{
background-color: blue;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;

}
